<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.org.bjca.zk.platform.dao.CabinetDoorEventDao">

	<resultMap id="CheckInfo" type="cn.org.bjca.zk.db.entity.CheckInfo">
		<id column="cabinetDoorNumber" property="cabinetDoorNumber" jdbcType="VARCHAR"/>
		<result column="departmentname" property="departmentName" jdbcType="VARCHAR"/>
		<result column="employeename" property="employeeName" jdbcType="VARCHAR"/>
		<result column="iccardnumber" property="icCardNumber" jdbcType="VARCHAR"/>
		<result column="dooropttime" property="doorOptTime" jdbcType="VARCHAR"/>
		<result column="status" property="doorOptStatus" jdbcType="VARCHAR"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
	</resultMap>

	<resultMap id="UrgentEvent" type="cn.org.bjca.zk.db.entity.UrgentEvent">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="employeeCardNumber" property="employeeCardNumber" jdbcType="VARCHAR"/>
		<result column="employeeName" property="employeeName" jdbcType="VARCHAR"/>
		<result column="doorOptTime" property="doorOptTime" jdbcType="VARCHAR"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
	</resultMap>
	<resultMap id="CabinetDoorEventMap" type="cn.org.bjca.zk.db.entity.CabinetDoorEvent">
		<id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="cabinetdoorNumber" property="cabinetDoorNumber" jdbcType="VARCHAR"></result>
		<result column="cabinetNumber" property="cabinetNumber" jdbcType="VARCHAR"/>
		<result column="employeeName" property="employeeName" jdbcType="VARCHAR"/>
		<result column="doorOptTime" property="doorOptTime" jdbcType="TIMESTAMP"/>
		<result column="status" property="status" jdbcType="VARCHAR"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
	</resultMap>

	<!-- 分页查询 -->
	<select id="findPage" parameterType="cn.org.bjca.zk.platform.web.page.CabinetDoorEventPage" resultType="CabinetDoorEvent">
		SELECT
		BO_CABINETDOOREVENT.id,
		BO_CABINETDOOREVENT.cabinetNumber,
		BO_CABINETDOOREVENT.cabinetdoorNumber,
		BO_EMPLOYEE.employeename,
		BO_CABINETDOOREVENT.dooropttime,
		BO_CABINETDOOREVENT.`status`,
		BO_CABINETDOOREVENT.remark
		FROM
		BO_CABINETDOOREVENT ,
		BO_EMPLOYEE
		WHERE
		BO_CABINETDOOREVENT.employeecardnumber = BO_EMPLOYEE.iccardnumber
		<if test="cabinetNumber != null">
			AND CABINETNUMBER LIKE #{cabinetNumber}
		</if>
		<if test="cabinetDoorNumber != null">
			AND CABINETDOORNUMBER LIKE #{cabinetDoorNumber}
		</if>
		<if test="employeeName != null">
			AND EMPLOYEENAME LIKE #{employeeName}
		</if>
		ORDER BY DOOROPTTIME DESC
	</select>

	<!-- 保存数据 -->
	<insert id="save" parameterType="CabinetDoorEvent">
		INSERT INTO BO_CABINETDOOREVENT (
			ID, 
			CABINETIP,
			CABINETNUMBER,
			CABINETDOORNUMBER, 
			EMPLOYEECARDNUMBER,
			ACTIONCARDNUMBER,
			STATUS, 
			DOOROPTTIME,
			REMARK)
		VALUES (
			#{id}, 
			#{cabinetIp},
			#{cabinetNumber} ,
			#{cabinetDoorNumber}, 
			#{employeeCardNumber},
			#{actionCardNumber}, 
			#{status}, 
			#{doorOptTime},
			#{remark})
	</insert>

	<select id="findOneDay" resultType="CabinetDoorEvent" parameterType="string">
		SELECT * FROM BO_CABINETDOOREVENT WHERE to_days(DOOROPTTIME) = to_days(#{date,jdbcType=DATE})
	</select>

	<select id="findOneEMPByOneDay" resultType="CabinetDoorEvent" parameterType="string">
		SELECT * FROM BO_CABINETDOOREVENT WHERE EMPLOYEECARDNUMBER = #{0} AND to_days(dooropttime) = to_days(#{1}) ORDER BY dooropttime DESC
	</select>

	<sql id="column_base">
		cabinetdoornumber,departmentname,employeename,iccardnumber,DATE_FORMAT(dooropttime,'%H:%i:%s')as dooropttime,status,remark
	</sql>

	<select id="findDayInfo" resultMap="CheckInfo">
		select
		<include refid="column_base"/>
		from checkinfo where to_days(dooropttime) = to_days(#{0}) order by dooropttime ASC
	</select>

	<select id="getMonthList" parameterType="String" resultType="cn.org.bjca.zk.db.entity.CheckWMInfo">
		SELECT DISTINCT BO_EMPLOYEE.employeenumber AS icCardNumber,
		   BO_DEPARTMENT.departmentname AS departmentName,
		   BO_EMPLOYEE.employeename AS employeeName,
		   BO_CABINETDOOREVENT.employeecardnumber AS cabinetDoorNumber,
		   IFNULL(t4.ee,0) AS monthTotal,
		   IFNULL(t0.aa,0) as zccTotal,
		   IFNULL(t1.bb,0) AS zcqTotal,
		   IFNULL(t2.cc,0) AS csTotal,
		   IFNULL(t3.dd,0) AS yjTotal,
		   IFNULL(t2.cdd,'') AS csDate,
		   IFNULL(t3.cdd,'') AS yjDate,
		   IFNULL(t5.cc,0) AS dcTotal,
		   IFNULL(t5.cdd,'') as dcDate
		FROM BO_EMPLOYEE,BO_DEPARTMENT,BO_CABINETDOOREVENT
		LEFT JOIN (SELECT COUNT(id) as aa,employeecardnumber FROM BO_CABINETDOOREVENT WHERE DATE_FORMAT(BO_CABINETDOOREVENT.dooropttime,'%Y-%M')=DATE_FORMAT(#{date},'%Y-%M') AND `status`='0' GROUP BY employeecardnumber) t0 ON BO_CABINETDOOREVENT.employeecardnumber = t0.employeecardnumber
		LEFT JOIN (SELECT COUNT(id) as bb,employeecardnumber FROM BO_CABINETDOOREVENT WHERE DATE_FORMAT(BO_CABINETDOOREVENT.dooropttime,'%Y-%M')=DATE_FORMAT(#{date},'%Y-%M') AND `status`='1' GROUP BY employeecardnumber) t1 ON BO_CABINETDOOREVENT.employeecardnumber = t1.employeecardnumber
		LEFT JOIN (SELECT COUNT(id) as cc,employeecardnumber,GROUP_CONCAT(DISTINCT DATE_FORMAT(dooropttime,'%m-%d')) as cdd FROM BO_CABINETDOOREVENT WHERE DATE_FORMAT(BO_CABINETDOOREVENT.dooropttime,'%Y-%M')=DATE_FORMAT(#{date},'%Y-%M') AND `status`='2' GROUP BY employeecardnumber) t2 ON BO_CABINETDOOREVENT.employeecardnumber = t2.employeecardnumber
		LEFT JOIN (SELECT COUNT(id) as dd,employeecardnumber,GROUP_CONCAT(DISTINCT DATE_FORMAT(dooropttime,'%m-%d')) as cdd FROM BO_CABINETDOOREVENT WHERE DATE_FORMAT(BO_CABINETDOOREVENT.dooropttime,'%Y-%M')=DATE_FORMAT(#{date},'%Y-%M') AND `status`='4' GROUP BY employeecardnumber) t3 ON BO_CABINETDOOREVENT.employeecardnumber = t3.employeecardnumber
		LEFT JOIN (SELECT COUNT(id) as ee,employeecardnumber FROM BO_CABINETDOOREVENT WHERE DATE_FORMAT(BO_CABINETDOOREVENT.dooropttime,'%Y-%M')=DATE_FORMAT(#{date},'%Y-%M') AND `status` in('0','1','2','4') GROUP BY employeecardnumber) t4 ON BO_CABINETDOOREVENT.employeecardnumber = t4.employeecardnumber
		LEFT JOIN (SELECT COUNT(employeecardnumber) as cc,employeecardnumber,GROUP_CONCAT(DISTINCT DATE_FORMAT(dooropttime,'%m-%d')) as cdd FROM (SELECT count(id) as c,employeecardnumber,dooropttime FROM BO_CABINETDOOREVENT WHERE DATE_FORMAT(BO_CABINETDOOREVENT.dooropttime,'%Y-%M')=DATE_FORMAT(#{date},'%Y-%M') GROUP BY employeecardnumber,DATE_FORMAT(BO_CABINETDOOREVENT.dooropttime,'%Y-%M-%d') HAVING COUNT(id)>4 )t GROUP BY t.employeecardnumber,DATE_FORMAT(dooropttime,'%Y-%M')) t5 on BO_CABINETDOOREVENT.employeecardnumber = t5.employeecardnumber
		WHERE BO_EMPLOYEE.iccardnumber=BO_CABINETDOOREVENT.employeecardnumber
		AND BO_DEPARTMENT.id=BO_EMPLOYEE.departmentid
	</select>

	<select id="getWeekList" parameterType="String" resultType="cn.org.bjca.zk.db.entity.CheckWMInfo">
        SELECT DISTINCT BO_EMPLOYEE.employeenumber AS icCardNumber,
		   BO_DEPARTMENT.departmentname AS departmentName,
		   BO_EMPLOYEE.employeename AS employeeName,
		   BO_CABINETDOOREVENT.employeecardnumber AS cabinetDoorNumber,
		   IFNULL(t0.aa,0) as zccTotal,
		   IFNULL(t1.bb,0) AS zcqTotal,
		   IFNULL(t2.cc,0) AS csTotal,
		   IFNULL(t3.dd,0) AS yjTotal,
		   IFNULL(t2.cdd,'') AS csDate,
		   IFNULL(t3.cdd,'') AS yjDate,
		   IFNULL(t5.cc,0) AS dcTotal,
		   IFNULL(t5.cdd,'') as dcDate
		FROM BO_EMPLOYEE,BO_DEPARTMENT,BO_CABINETDOOREVENT
		LEFT JOIN (SELECT COUNT(id) as aa,employeecardnumber FROM BO_CABINETDOOREVENT WHERE YEARWEEK(DATE_FORMAT(dooropttime,'%Y-%m-%d')) = YEARWEEK(#{date}) AND `status`='0' GROUP BY employeecardnumber) t0 ON BO_CABINETDOOREVENT.employeecardnumber = t0.employeecardnumber
		LEFT JOIN (SELECT COUNT(id) as bb,employeecardnumber FROM BO_CABINETDOOREVENT WHERE YEARWEEK(DATE_FORMAT(dooropttime,'%Y-%m-%d')) = YEARWEEK(#{date}) AND `status`='1' GROUP BY employeecardnumber) t1 ON BO_CABINETDOOREVENT.employeecardnumber = t1.employeecardnumber
		LEFT JOIN (SELECT COUNT(id) as cc,employeecardnumber,GROUP_CONCAT(DISTINCT DATE_FORMAT(dooropttime,'%m-%d')) as cdd FROM BO_CABINETDOOREVENT WHERE YEARWEEK(DATE_FORMAT(dooropttime,'%Y-%m-%d')) = YEARWEEK(#{date}) AND `status`='2' GROUP BY employeecardnumber) t2 ON BO_CABINETDOOREVENT.employeecardnumber = t2.employeecardnumber
		LEFT JOIN (SELECT COUNT(id) as dd,employeecardnumber,GROUP_CONCAT(DISTINCT DATE_FORMAT(dooropttime,'%m-%d')) as cdd FROM BO_CABINETDOOREVENT WHERE YEARWEEK(DATE_FORMAT(dooropttime,'%Y-%m-%d')) = YEARWEEK(#{date}) AND `status`='4' GROUP BY employeecardnumber) t3 ON BO_CABINETDOOREVENT.employeecardnumber = t3.employeecardnumber
		LEFT JOIN (SELECT COUNT(employeecardnumber) as cc,employeecardnumber,GROUP_CONCAT(DISTINCT DATE_FORMAT(dooropttime,'%m-%d')) as cdd FROM (SELECT count(id) as c,employeecardnumber,dooropttime FROM BO_CABINETDOOREVENT WHERE YEARWEEK(DATE_FORMAT(dooropttime,'%Y-%m-%d')) = YEARWEEK(#{date}) GROUP BY employeecardnumber,DATE_FORMAT(dooropttime,'%Y-%M-%d') HAVING COUNT(id)>4 )t GROUP BY t.employeecardnumber,YEARWEEK(DATE_FORMAT(dooropttime,'%Y-%m-%d'))) t5 on BO_CABINETDOOREVENT.employeecardnumber = t5.employeecardnumber
		WHERE BO_EMPLOYEE.iccardnumber=BO_CABINETDOOREVENT.employeecardnumber
		AND BO_DEPARTMENT.id=BO_EMPLOYEE.departmentid
	</select>
	<insert id="insertUrgentEvent" parameterType="UrgentEvent">
		insert into BO_URGENTEVENT(
		employeeCardNumber,
		employeeName,
		doorOptTime,
		remark,
		status
		) values (
		#{employeeCardNumber,jdbcType=VARCHAR},
		#{employeeName,jdbcType=VARCHAR},
		#{doorOptTime,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER}
		)
	</insert>

	<select id="getAllUnactivatedUrgentEvent" resultType="UrgentEvent">
		select * from BO_URGENTEVENT WHERE emailStatus = 0;
	</select>

	<update id="updateUrgentEventEmailStatus" parameterType="int">
		update BO_URGENTEVENT
		SET emailStatus=1
		where id = #{id}
	</update>


</mapper> 
