<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.org.bjca.zk.platform.dao.CabinetDoorEventDao">

	<resultMap id="CheckInfo" type="cn.org.bjca.zk.db.entity.CheckInfo">
		<id column="cabinetDoorNumber" property="cabinetDoorNumber" jdbcType="VARCHAR"/>
		<result column="departmentname" property="departmentName" jdbcType="VARCHAR"/>
		<result column="employeename" property="employeeName" jdbcType="VARCHAR"/>
		<result column="iccardnumber" property="icCardNumber" jdbcType="VARCHAR"/>
		<result column="dooropttime" property="doorOptTime" jdbcType="VARCHAR"/>
		<result column="status" property="doorOptStatus" jdbcType="VARCHAR"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
	</resultMap>

	<resultMap id="UrgentEvent" type="cn.org.bjca.zk.db.entity.UrgentEvent">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="employeeCardNumber" property="employeeCardNumber" jdbcType="VARCHAR"/>
		<result column="employeeName" property="employeeName" jdbcType="VARCHAR"/>
		<result column="doorOptTime" property="doorOptTime" jdbcType="VARCHAR"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
	</resultMap>
	<resultMap id="CabinetDoorEventMap" type="cn.org.bjca.zk.db.entity.CabinetDoorEvent">
		<id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="cabinetdoorNumber" property="cabinetDoorNumber" jdbcType="VARCHAR"></result>
		<result column="cabinetNumber" property="cabinetNumber" jdbcType="VARCHAR"/>
		<result column="employeeName" property="employeeName" jdbcType="VARCHAR"/>
		<result column="doorOptTime" property="doorOptTime" jdbcType="TIMESTAMP"/>
		<result column="status" property="status" jdbcType="VARCHAR"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
	</resultMap>

	<!-- 分页查询 -->
	<select id="findPage" parameterType="cn.org.bjca.zk.platform.web.page.CabinetDoorEventPage" resultType="CabinetDoorEvent">
		SELECT
		bo_cabinetdoorevent.id,
		bo_cabinetdoorevent.cabinetNumber,
		bo_cabinetdoorevent.cabinetdoorNumber,
		bo_employee.employeename,
		bo_cabinetdoorevent.dooropttime,
		bo_cabinetdoorevent.`status`,
		bo_cabinetdoorevent.remark
		FROM
		BO_CABINETDOOREVENT ,
		BO_EMPLOYEE
		WHERE
		bo_cabinetdoorevent.employeecardnumber = bo_employee.iccardnumber
		<if test="cabinetNumber != null">
			AND CABINETNUMBER LIKE #{cabinetNumber}
		</if>
		<if test="cabinetDoorNumber != null">
			AND CABINETDOORNUMBER LIKE #{cabinetDoorNumber}
		</if>
		<if test="employeeName != null">
			AND EMPLOYEENAME LIKE #{employeeName}
		</if>
		ORDER BY DOOROPTTIME DESC
	</select>

	<!-- 保存数据 -->
	<insert id="save" parameterType="CabinetDoorEvent">
		INSERT INTO BO_CABINETDOOREVENT (
			ID, 
			CABINETIP,
			CABINETNUMBER,
			CABINETDOORNUMBER, 
			EMPLOYEECARDNUMBER,
			ACTIONCARDNUMBER,
			STATUS, 
			DOOROPTTIME,
			REMARK)
		VALUES (
			#{id}, 
			#{cabinetIp},
			#{cabinetNumber} ,
			#{cabinetDoorNumber}, 
			#{employeeCardNumber},
			#{actionCardNumber}, 
			#{status}, 
			#{doorOptTime},
			#{remark})
	</insert>

	<select id="findOneDay" resultType="CabinetDoorEvent" parameterType="string">
		SELECT * FROM BO_CABINETDOOREVENT WHERE to_days(DOOROPTTIME) = to_days(#{date,jdbcType=DATE})
	</select>

	<select id="findOneEMPByOneDay" resultType="CabinetDoorEvent" parameterType="string">
		SELECT * FROM BO_CABINETDOOREVENT WHERE EMPLOYEECARDNUMBER = #{0} AND to_days(dooropttime) = to_days(#{1}) ORDER BY dooropttime DESC
	</select>

	<sql id="column_base">
		cabinetdoornumber,departmentname,employeename,iccardnumber,DATE_FORMAT(dooropttime,'%H:%i:%s')as dooropttime,status,remark
	</sql>

	<select id="findDayInfo" resultMap="CheckInfo">
		select
		<include refid="column_base"/>
		from checkinfo where to_days(dooropttime) = to_days(#{0}) order by dooropttime ASC
	</select>

	<insert id="insertUrgentEvent" parameterType="UrgentEvent">
		insert into BO_URGENTEVENT(
		employeeCardNumber,
		employeeName,
		doorOptTime,
		remark,
		status
		) values (
		#{employeeCardNumber,jdbcType=VARCHAR},
		#{employeeName,jdbcType=VARCHAR},
		#{doorOptTime,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER}
		)
	</insert>

	<select id="getAllUnactivatedUrgentEvent" resultType="UrgentEvent">
		select * from BO_URGENTEVENT WHERE emailStatus = 0;
	</select>

	<update id="updateUrgentEventEmailStatus" parameterType="int">
		update BO_URGENTEVENT
		SET emailStatus=1
		where id = #{id}
	</update>


</mapper> 
