<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.bjca.zk.platform.dao.CheckListDao">

    <resultMap id="HTFChcekResultMap" type="cn.org.bjca.zk.db.entity.HTFCheck">
        <id jdbcType="INTEGER" property="id" column="id"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 分页查询 -->
    <select id="findPage" parameterType="cn.org.bjca.zk.platform.web.page.CheckListPage" resultMap="HTFChcekResultMap">
        SELECT *
        FROM HTF_CHECK
        WHERE 1=1
        ORDER BY CREATE_TIME DESC
    </select>

    <!--添加数据 -->
    <insert id="save" parameterType="HTFCheck">
        INSERT INTO htf_check(
        file_name,file_path,create_time
        )VALUES(
        #{fileName},
        #{filePath},
        now()
        )
    </insert>
</mapper>
