<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.org.bjca.zk.platform.dao.EmployeeDao">

	<resultMap id="employeeMap" type="Employee">
		<result property="id" column="ID"/>
        <result property="employeeName" column="EMPLOYEEUSERNAME"/>
        <result property="employeeNumber" column="EMPLOYEENUMBER"/>
        <result property="icCardNumber" column="ICCARDNUMBER"/>
        <result property="mobilePhone" column="MOBILEPHONE"/>
        <result property="mobilePhone2" column="MOBILEPHONE2"/>
        <result property="email" column="EMAIL"/>
        <result property="picFile" column="PICFILE"/>
        <result property="departmentId" column="DEPARTMENTID"/>
        <result property="userId" column="USERID"/>
        <result property="optTime" column="OPTTIME"/>
        <result property="checkPower" column="CHECKPOWER"/>
        <result property="ext2" column="EXT2"/>
        <result property="ext3" column="EXT3"/>
        <association property="department" javaType="cn.org.bjca.zk.db.entity.Department" column="DEPARTMENTID" select="cn.org.bjca.zk.platform.dao.DepartmentDao.findUniqueById"/>
	</resultMap>
	
	<!-- 分页查询 -->
	<select id="findPage" parameterType="cn.org.bjca.zk.platform.web.page.EmployeePage" resultMap="employeeMap">
		SELECT * 
		FROM BO_EMPLOYEE
		WHERE 1=1
		<if test="employeeName != null">
			AND EMPLOYEENAME like #{employeeName}
		</if>
		ORDER BY OPTTIME DESC
	</select>

	<select id="getAllNotActive" parameterType="cn.org.bjca.zk.platform.web.page.EmployeePage" resultMap="employeeMap">
		SELECT *
		FROM BO_EMPLOYEE
		WHERE 1=1
		<if test="employeeName != null">
			AND EMPLOYEENAME like #{employeeName}
		</if>
		AND picfile IS NULL
		ORDER BY OPTTIME DESC
	</select>
	
	
	<!-- 保存数据 -->
	<insert id="save" parameterType="Employee">
		INSERT INTO BO_EMPLOYEE (
			ID, 
			EMPLOYEENAME, 
			EMPLOYEENUMBER, 
			ICCARDNUMBER, 
			MOBILEPHONE,
			MOBILEPHONE2,
			EMAIL, 
			PICFILE, 
			DEPARTMENTID, 
			USERID, 
			CHECKPOWER,
			EXT2,
			EXT3,
			OPTTIME
			)
		VALUES (
			#{id}, 
			#{employeeName}, 
			#{employeeNumber}, 
			#{icCardNumber}, 
			#{mobilePhone},
			#{mobilePhone2},
			#{email}, 
			#{picFile}, 
			#{departmentId}, 
			#{userId},
			#{checkPower},
			#{ext2}, 
			#{ext3},
			#{optTime}
			)
	</insert>
	
	<!-- 更新数据 -->
	<update id="update" parameterType="Employee">
		UPDATE BO_EMPLOYEE SET
        	EMPLOYEENAME = #{employeeName}, 
        	EMPLOYEENUMBER = #{employeeNumber}, 
        	ICCARDNUMBER = #{icCardNumber},
			MOBILEPHONE = #{mobilePhone},
        	MOBILEPHONE2 = #{mobilePhone2}, 
        	EMAIL = #{email},
        	<if test="picFile != null">
				PICFILE = #{picFile}, 
			</if>
        
        	DEPARTMENTID = #{departmentId}, 
        	USERID = #{userId}, 
        	CHECKPOWER = #{checkPower},
        	EXT2 = #{ext2},
			EXT3 = #{ext3},
        	OPTTIME = #{optTime}
        WHERE 
	        ID = #{id} 
	</update>
	
	
</mapper> 
