<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.bjca.zk.platform.dao.MonitorDao">
    <resultMap id="MonitorResultMap" type="cn.org.bjca.zk.db.entity.Monitor">
        <id jdbcType="INTEGER" property="id" column="id"/>
        <result property="cabinetDoorEventId" column="cabinetDoorEventId" jdbcType="VARCHAR"/>
        <result property="picFilePath" column="picFilePath" jdbcType="VARCHAR"/>
        <result property="videoFilePath" column="videoFilePath" jdbcType="VARCHAR"/>
        <association property="cabinetDoorEvent" column="cabinetDoorEventId" javaType="cn.org.bjca.zk.db.entity.CabinetDoorEvent" select="cn.org.bjca.zk.platform.dao.MonitorDao.findUniqueById"/>
    </resultMap>

    <select id="findUniqueById" resultMap="MonitorResultMap">
		SELECT * FROM BO_MONITOR WHERE id = #{id}
	</select>

    <insert id="addPic" parameterType="string">
        INSERT INTO BO_MONITOR(
        CABINETDOOREVENTID,
        PICFILEPATH
        ) VALUES (
        #{0},
        #{1}
        )
    </insert>

    <update id="addVideo" parameterType="string">
        update BO_MONITOR set
		videoFilePath = #{0}
		WHERE CABINETDOOREVENTID = #{1}
    </update>
</mapper>