@font-face {
    font-family: 'iconfont';  /* project id 1833835 */
    src: url('//at.alicdn.com/t/font_1833835_nvr4ft2bts.eot');
    src: url('//at.alicdn.com/t/font_1833835_nvr4ft2bts.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1833835_nvr4ft2bts.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1833835_nvr4ft2bts.woff') format('woff'),
    url('//at.alicdn.com/t/font_1833835_nvr4ft2bts.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1833835_nvr4ft2bts.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}