<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	 <plugins>
        <plugin interceptor="com.cn.bjca.seal.esspdf.core.pagination.interceptor.PaginationInterceptor">
              <property name="dialectClass" value="com.cn.bjca.seal.esspdf.core.pagination.dialect.db.MySQLDialect"/>
              <property name="sqlPattern" value=".*findPage.*"/>
        </plugin>
    </plugins>
</configuration>